{
    //"presets":["env","react"]
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "not ie <=8"]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        "@babel/transform-runtime", "@babel/plugin-transform-regenerator"
    ]
}